@import "tailwindcss";
@import "../../App.css";

#about{
    @apply  flex flex-col items-center gap-5 pb-5 w-full font-[Arial] relative;
}

.point{
    @apply text-pinky-muted/40 font-bold
}

.about-grid-layout {
    @apply grid  
    gap-3 bg-pinky-card/95 rounded-3xl
    /* celular 3 */
    grid-cols-3
    pb-5
    /* tablet 9 */
    md:grid-cols-5
    md:w-11/12
    md:p-5
    /* pc 12 */
    lg:grid-cols-5
    lg:w-7/12
    lg:p-10
    ;
    backdrop-filter: hue-rotate(180deg);
}

.about-text{
    @apply flex flex-col gap-10 font-[Arial] justify-center items-center
    /* celu 3*/
    col-start-1
    col-span-3
    row-start-7
    row-span-4
    text-4xl
    /* tablet 9 */
    md:col-start-1
    md:col-span-3
    md:row-start-2
    md:row-span-1
    md:px-8
    /* pc 12 */
    lg:px-15
}

.about-subtitle{
    @apply text-pinky-pink uppercase font-bold tracking-[10px] lg:self-end
    /* celu 3x12 */
    text-2xl
    text-center
     /* tablet 12x12 */
    md:text-right
}


.about-text > p {
    @apply text-pinky-muted text-lg font-semibold
    /* celu 3 */
    text-justify
    px-10
    /* tablet 9 */
    md:p-0
    /* pc 12 */
    lg:text-right
}


.image-container {
    @apply bg-[url("/florcardinali.webp")] bg-cover bg-no-repeat
    bg-center  overflow-hidden bg-clip-padding
    border-3 border-pinky-pink/40
     /* celu 3 */
    col-start-1
    col-span-3 
    row-start-2
    row-span-3
    w-full
    min-h-100
    /*tablet 9 */
    md:col-start-4
    md:col-span-2
    md:row-start-2
    md:row-span-1
    md:w-auto
    md:rounded-2xl
    md:max-h-120
    /* pc 12 */
    lg:col-start-4
    lg:col-span-2
    lg:row-start-2
    lg:row-span-1
    
}

.skill{
    @apply md:pl-5
}

.skill-title{
    @apply  px-5 
    /* celular */
    col-start-1
    col-span-3
    row-start-11
    row-span-1
    text-lg
    pt-10
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-3
    md:row-span-1
    md:text-2xl
    md:text-center
    md:pb-12
    /* pc */
}


.skill > h4 {
    @apply text-pinky-base font-bold px-10
    tracking-[5px] font-[Arial]
    /* celular */
    text-xl
    pb-5
    /* tablet */
    md:text-2xl
    md:p-0
}
.skill > p {
    @apply text-pinky-muted text-lg font-[Arial] px-10 text-justify
    md:text-left   md:pl-0
}
.skill-one{
    @apply 
    /* celular */
    col-start-1
    col-span-3
    row-start-16
    row-span-4
    text-lg
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-4
    md:row-span-1
    /* pc */
    lg:col-start-1
    lg:col-span-5
}
.skill-two{
    @apply col-start-1
    col-span-3
    row-start-21
    row-span-4
    text-lg
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-5
    md:row-span-1
    /* pc */
    lg:col-start-1
    lg:col-span-5
}
.skill-three{
    @apply col-start-1
    col-span-3
    row-start-26
    row-span-4
    text-lg
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-6
    md:row-span-1
    /* pc */
    lg:col-start-1
    lg:col-span-5
}
.skill-four{
    @apply col-start-1
    col-span-3
    row-start-31
    row-span-4
    text-lg
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-7
    md:row-span-1
    /* pc */
    lg:col-start-1
    lg:col-span-5
}
.skill-five{
    @apply 
    col-start-1
    col-span-3
    row-start-36
    row-span-4
    text-lg
    /* tablet */
    md:col-start-1
    md:col-span-5
    md:row-start-8
    md:row-span-1
    /* pc */
    lg:col-start-1
    lg:col-span-5
}   