@import "../../App.css";
@import "tailwindcss";


.grid-container .mod-1 {
 @apply 
    bg-linear-to-tr from-pinky-main from-60%
    to-pinky-soft/20 
    flex flex-col justify-center md:px-10 px-5

 /* celu 3 x 12*/
    col-start-1 
    row-start-1 
    col-span-3 
    row-span-2 
    min-h-80 
/* Tablet 12 x 12*/
    md:col-start-1
    md:row-start-1
    md:col-span-8 
    md:row-span-5  
    md:min-h-50
    md:gap-5;

}
.text-hero {
    @apply flex flex-col gap-2;
}

    .text-hero h1 {
        @apply  text-pinky-base font-semibold font-[Arial] 
        /* responsive */
        text-[20px]
        md:text-xl 
        lg:text-2xl 
    }
    .text-hero > p {
        @apply text-pinky-muted font-["Inter"]  font-extrabold max-w-12/12
        /* responsive */
        text-3xl
        md:text-4xl 
        lg:text-5xl 
        lg:w-10/12
    }

    #colorfull-text {
        @apply animate-fade-slide font-extrabold   
        uppercase font-[Arial] flex items-center
        /* responsive */
        text-[40px]
        min-h-30
        max-w-8/12
        md:max-w-11/12
        md:text-6xl 
        md:min-h-40
        lg:text-7xl 
        ;

        color: var(--color-pinky-pink);
        background-image: linear-gradient(to right, var(--color-pinky-pink), var(--color-pinky-soft));
        background-clip: text;
        -webkit-background-clip: text; 
        /* PARA SAFARI/CHROME */ 
        @supports (-webkit-background-clip: text) or (background-clip: text) {
            color: transparent;
        }
    }