@import "../../App.css";
@import "tailwindcss";

.grid-container .mod-2 {
  @apply 
  rounded-lg overflow-hidden
  relative flex flex-col justify-end p-5 
  
  /* celu 3x12 */
  col-start-1
  row-start-4
  col-span-3 
  row-span-3 
  /* tablet */ 
  md:col-start-9
  md:row-start-1
  md:col-span-4
  md:row-span-4
  /* pc */
  lg:col-start-9
  lg:row-start-1
  lg:col-span-4
  lg:row-span-4;

  &::after {
    content: '';
    @apply absolute inset-0 transition-all duration-500 ease-in-out
    bg-linear-to-t from-pinky-main to-transparent 
    z-0;
  }
  
  &:hover::after {
    @apply to-90% to-pinky-main/70;
  }

  &:hover {
    @apply justify-center items-center;
  }
}

.mod-2 h2 {
  @apply text-4xl text-pinky-pink font-bold font-[Arial] 
  transition-transform duration-500 ease-out 
  z-10; 
}

.mod-2:hover h2 {
  @apply -translate-y-100 opacity-0;
}

.mod-2 p {
  @apply text-pinky-base font-[Verdana] 
  opacity-0 translate-y-20 absolute max-w-4/5
  transition-all duration-500 delay-100 ease-out
  text-[14px] font-bold md:font-normal
  md:text-[12px]
  lg:text-[16px]
  z-10;
}

.mod-2:hover p {
  @apply opacity-100 translate-y-0;
}

.mod-2 p span {
  @apply text-pinky-soft font-semibold;
}