@import "../App.css";
@import "tailwindcss";


.grid-container .mod-5 {
    @apply relative w-full h-full overflow-hidden rounded-lg bg-pinky-card cursor-pointer
    /* celu 3x12 */
    col-start-1
    row-start-7
    col-span-3 
    row-span-2 
 /* tablet 12x12 */ 
    md:col-start-1
    md:row-start-6
    md:col-span-6
    md:row-span-5
 /* pc 9x12 */
    lg:col-start-3
    lg:row-start-6
    lg:col-span-4
    lg:row-span-4
    ;

    & .projects-hover-title {
    @apply absolute inset-0 z-50 flex items-center justify-center
           text-3xl font-extrabold text-pinky-pink tracking-widest uppercase
           opacity-0 transition-all duration-300 ease-out
           translate-y-4 text-center ; 
    text-shadow: 0 0 20px var(--color-pinky-soft);
  }

  &:hover {
    & .projects-hover-title {
      @apply opacity-100 translate-y-0;
    }

    & .carousel-track {
      @apply opacity-20 blur-[2px] scale-105; 
    }
    & .carousel-indicators, 
    & .slide-content {
      @apply opacity-0 transition-opacity duration-300;
    }
  }   
}
.carousel-track {
  @apply flex h-full w-full transition-all duration-500 ease-in-out; 
}

.carousel-slide {
  @apply min-w-full h-full relative flex items-end justify-start;
}

.slide-image {
  @apply absolute inset-0 w-full h-full object-cover object-top-left z-0;
}

.slide-overlay {
  @apply absolute inset-0 bg-linear-to-t from-black from-30% to-pinky-main/30 z-10;
}

.slide-content {
  @apply z-20 px-6 w-full max-h-30 min-h-30 flex flex-col justify-center gap-1 transition-opacity duration-300;
}

.slide-content h3 {
  @apply block text-2xl font-bold text-pinky-pink drop-shadow-md bottom-18;
}

.slide-content p {
  @apply text-pinky-base text-sm font-medium max-w-[90%] drop-shadow-sm top-3;
}

.carousel-indicators {
  @apply absolute bottom-6 right-6 flex gap-2 z-30 transition-opacity duration-300;
}

.indicator-dot {
  @apply w-2 h-2 rounded-full bg-white/30 backdrop-blur-sm transition-all duration-300 border border-white/10;
}

.indicator-dot.active {
  @apply bg-pinky-pink w-6 shadow-[0_0_8px_rgba(251,207,232,0.8)];
}