@import "../App.css";
@import "tailwindcss";

.grid-container .mod-7 {
 @apply flex flex-col justify-center items-center gap-1.5 bg-linear-to-bl from-pinky-main from-5% via-25% to-45% via-pinky-card to-pinky-main

 /* celu 3x12 */
    col-start-1
    row-start-3
    col-span-2
    row-span-1 
 /* tablet 12x12 */ 
    md:col-start-9
    md:row-start-5
    md:col-span-4
    md:row-span-2
 /* pc 9x12 */
    lg:col-start-9
    lg:row-start-5
    lg:col-span-2
    lg:row-span-2
}
.grid-container .mod-7 p {
  @apply text-xs text-pinky-muted font-bold text-center max-w-30
}
#experience-years {
  @apply text-6xl text-pinky-soft/95 font-extrabold font-mono
}
