@import "../App.css";
@import "tailwindcss";

.grid-container .mod-2 {

  @apply 
  bg-[url(/beautiful-pink-peach-tree-blossom.webp)] bg-cover bg-top bg-no-repeat 
  rounded-xl
  relative flex flex-col justify-end p-5 overflow-hidden
  
 /* celu 3x12 */
    col-start-1
    row-start-4
    col-span-3 
    row-span-3 
 /* tablet 12x12 */ 
    md:col-start-9
    md:row-start-1
    md:col-span-4
    md:row-span-4
 /* pc 9x12 */
    lg:col-start-9
    lg:row-start-1
    lg:col-span-4
    lg:row-span-4
  ;

  &::after {
    content: '';
    @apply absolute inset-0 rounded-lg transition-all duration-500 ease-in-out
    bg-linear-to-t from-pinky-main  to-transparent ;
  }
  &:hover::after {
    @apply to-90% to-pinky-main/70;
  }

  &:hover {
    @apply justify-center items-center;
  }
}
    .mod-2 h3 {
    @apply text-4xl text-pinky-pink font-bold font-[Arial] z-10 
    transition-transform duration-500 ease-out;
    }
    .mod-2:hover h3 {
    @apply -translate-y-100 opacity-0;
    }

    .mod-2 p {
    @apply text-pinky-base font-[Verdana] z-10 
    opacity-0 translate-y-20 absolute max-w-4/5
    transition-all duration-500 delay-100 ease-out
    text-[14px] font-bold md:font-normal
    md:text-[12px]
    lg:text-[18px];
    }
    .mod-2:hover p {
    @apply opacity-100 translate-y-0;
    }

    .mod-2 p span {
    @apply text-pinky-soft font-semibold;
    }
