@import "tailwindcss";
@import "../../App.css";


.studies {
    @apply w-[98vw]  min-h-screen flex flex-col items-center pb-15 relative;
}

.studies-title {
    @apply text-pinky-pink text-3xl font-bold uppercase 
    tracking-[5px] my-12 ;
}

.timeline-container {
    @apply relative w-full max-w-5xl flex flex-col gap-10 px-5;
}

.timeline-line {
    @apply absolute left-1/2 transform -translate-x-1/2 w-1 h-full bg-pinky-soft/20;
}

.timeline-item {
    @apply relative w-full flex justify-center items-center;
}

/* El punto de conexión */
.timeline-dot {
    @apply absolute left-1/2 transform -translate-x-1/2 w-4 h-4 bg-pinky-soft rounded-full shadow-pinky-glow z-10;
}

/* Tarjetas (Ramas) */
.study-card {
    @apply w-[45%] bg-pinky-card border-2 border-pinky-border-pink p-10 rounded-2xl relative flex flex-col gap-4 backdrop-blur-3xl drop-shadow-lg drop-shadow-pinky-main 

    ;


    &:hover {
        @apply -translate-y-2 scale-105 transition-all duration-100 ease-linear;
        filter: brightness(1.15);
        -webkit-filter: brightness(1.15);
    }
}

.study-card.course-card {
    @apply bg-pinky-border-hover;

    &:hover {
        @apply -translate-y-2 scale-105 transition-all duration-100 ease-linear;
        filter: brightness(1.15);
        -webkit-filter: brightness(1.15);
    }
}


.university-title {
    @apply text-pinky-pink/70 font-bold text-xl;
}


.university-name {
    @apply text-pinky-base font-semibold text-sm opacity-90;
}

.date-status-card {
    @apply flex gap-5;
}

.university-date {
    @apply block w-fit text-pinky-soft  text-sm font-bold md:text-nowrap self-center;
}

.status-tag {
    @apply  text-[10px] uppercase font-bold text-pinky-pink bg-pinky-pink/30 px-3 py-1 rounded-xl w-fit text-center;
}

.university-description {
    @apply text-pinky-muted text-sm leading-relaxed mt-2   ;
}
.university-description > .pinky-text {
    @apply px-2;
}
.course-description > .pinky-text {
    @apply px-2;
}
.course-description{
    @apply text-pinky-base text-sm leading-relaxed mt-2 ;
}

/* Posicionamiento Desktop */
.branch-right { @apply justify-end; }
.branch-left { @apply justify-start;}

/* Media Query para Celulares */
@media (max-width: 768px) {
    .timeline-line { @apply left-4; }
    .timeline-dot { @apply left-4; }
    .timeline-item { @apply justify-start pl-10; }
    .study-card { @apply w-[90%]; }
    
    .studies-title {
        @apply text-xl text-left pl-4;
    }
}