@import "tailwindcss";

@theme {
  --color-pinky-main: #0d0f14;
  --color-pinky-card: #161a22;
  --color-pinky-base: #e2e8f0;
  --color-pinky-muted: #94a3b8;
  --color-pinky-pink: #ecb5d4;
  --color-pinky-soft: #f472b6;
  --color-pinky-border-pink: rgba(251, 207, 232, 0.05);
  --color-pinky-border-hover: #231420;
  --shadow-pinky-glow: 0 0 20px 5px rgba(251, 207, 232, 0.15);
  --shadow-pinky-strong: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(251, 207, 232, 0.05);
  @keyframes fade-slide {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    via{
      opacity: 1;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-slide: fade-slide 0.7s ease-out;

  @keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  --animate-spin-slow: spin-slow 10s linear infinite;

  @keyframes simple-fade-in {
    from { opacity: 0; transform: translateY(10px); }
    
    to { opacity: 1; transform: translateY(0); }
  }
}

#root {
  box-sizing: border-box;
  background-color: #0d0f14 !important;
}

.app-main-layout {
  @apply w-full flex flex-col items-center justify-center p-0 m-0;
}
/* --- CLASE GENÉRICA PARA LAS VISTAS --- */
.view-container-fixed {
  @apply max-w-[99vw] md:h-screen flex justify-center items-center;
}
.view-container-scroll {
  @apply max-w-[99vw] m-0 p-0
}
.animate-enter {
  animation: simple-fade-in 0.7s ease-in forwards;
}

.grid-container {
  @apply grid p-3 gap-3 h-full 
/* celu 3x12 */
  grid-cols-3 
  grid-rows-12  
  max-w-11/12
/* tablet 12x12 */
  md:grid-cols-12 
  md:grid-rows-12 
  md:w-10/12 
/* pc 9x12 */ 
  lg:grid-cols-12 
  lg:grid-rows-9 
  lg:w-9/12 ; 

  @media (min-height: 800px) {
    @apply md:h-[95vh];
  }
}


.grid-container > * {
  @apply  border-2 border-pinky-border-pink
  text-pinky-base bg-pinky-card bg-clip-padding rounded-lg
  /* hover */
  hover:border-pinky-soft 
  hover:shadow-pinky-glow
  cursor-pointer
}


.home-page-buttom{
    @apply bg-pinky-main rounded-xl border-2 border-pinky-soft
    hover:bg-pinky-pink hover:text-pinky-main hover:border-pinky-pink hover:shadow-pinky-glow
    text-pinky-base font-extrabold text-2xl uppercase font-mono
    h-8 w-24
    flex items-center justify-center cursor-pointer
}

.volver{
    @apply sticky flex flex-row top-0 z-10 gap-10 self-start items-center w-full h-16 md:pl-15 pl-4 bg-linear-to-r from-pinky-pink/20 to-40% to-transparent
}

.volver > h1 {
    @apply font-bold  text-2xl text-transparent bg-linear-to-r from-pinky-pink to-pinky-soft;
    background-clip: text;
    -webkit-background-clip: text; 
    /* PARA SAFARI/CHROME */ 
    @supports (-webkit-background-clip: text) or (background-clip: text) {
        color: transparent;
    }
}

.pinky-text {
    @apply text-pinky-soft font-extrabold    
}