@import "tailwindcss";

@theme {
  --color-pinky-main: #0d0f14;
  --color-pinky-card: #161a22;
  --color-pinky-base: #e2e8f0;
  --color-pinky-muted: #94a3b8;
  --color-pinky-pink: #ecb5d4;
  --color-pinky-soft: #f472b6;
  --color-pinky-border-pink: rgba(251, 207, 232, 0.05);
  --color-pinky-border-hover: rgba(99, 34, 67, 0.253);
  --shadow-pinky-glow: 0 0 20px 5px rgba(251, 207, 232, 0.15);
  --shadow-pinky-strong: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(251, 207, 232, 0.05);
  @keyframes fade-slide {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    via{
      opacity: 1;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-slide: fade-slide 0.7s ease-out;
}

#root {
  box-sizing: border-box;
  background-color: #0d0f14 !important; 
  @apply md:py-5 flex items-center justify-center
  md:max-h-screen  md:max-w-480 max-w-[97vw]
}

.grid-container {
  @apply grid p-3 gap-3 
/* celu 3x12 */
  grid-cols-3 
  grid-rows-12  
/* tablet 12x12 */
  md:grid-cols-12 
  md:grid-rows-12 
  md:w-[90vw] md:h-[90vh]
/* pc 9x12 */
  lg:grid-rows-9 
  lg:w-[80vw] lg:h-[95vh];
}

.grid-container > div {
  @apply  border-2 border-pinky-border-pink
  text-pinky-base bg-pinky-card bg-clip-padding rounded-lg
  /* hover */
  hover:border-pinky-soft 
  hover:shadow-pinky-glow
}