body{
  background-color: #0d0f14;
}
@theme {
  --color-pinky-main: #0d0f14;
  --color-pinky-card: #161a22;
  --color-pinky-base: #e2e8f0;
  --color-pinky-muted: #94a3b8;
  --color-pinky-pink: #fbcfe8;
  --color-pinky-soft: #f472b6;
  --color-pinky-border-pink: rgba(251, 207, 232, 0.05);
  --color-pinky-border-hover: rgba(99, 34, 67, 0.253);
  --shadow-pinky-glow: 0 0 20px 5px rgba(251, 207, 232, 0.15);
  --shadow-pinky-strong: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(251, 207, 232, 0.05);
  @keyframes fade-slide {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    via{
      opacity: 1;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-slide: fade-slide 0.7s ease-out;
  --font-oswald: "Oswald", sans-serif; 
}
